@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: 
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: 
       url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: 
       url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-500.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  display: swap;
  src: 
       url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-600.woff') format('woff'); 
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: 
       url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), 
       url('../fonts/poppins-v20-latin-700.woff') format('woff'); 
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: 
       url('../fonts/pt-sans-narrow-v17-latin-regular.woff2') format('woff2'), 
       url('../fonts/pt-sans-narrow-v17-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: 
       url('../fonts/pt-sans-narrow-v17-latin-700.woff2') format('woff2'), 
       url('../fonts/pt-sans-narrow-v17-latin-700.woff') format('woff'); 
}